/*Style*/

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;    
}

#akun{
    padding-right: 1%;   
}

.container{
    width: 1200px;
    margin: auto;
    background-color: #fff;
}

.header{
    left: 0;
    width: 1180px;
    padding: 10px;
    background-color: #fff;
}

.header img{
    position: absolute;
}

.menu ul li{
    position: relative;
    display: inline-block;
    right: -270px;
    margin-right: 20px;
}

.menu ul{
    margin-top: 2px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    color: #A3004D;
}

.menu .button1:hover{
    background-color: rgb(173, 88, 128);
    color: #fff;
}

.cover{
    height: 700px; 
    background-image: url(../img/cover.png);
    background-size: cover;
    background-position: 0 -100px;
}

.cover .text{
    position: absolute;
    bottom: 150px;
    left: 140px;
}

.cover .text h1{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}

.cover .button2{
    position: absolute;
    left: 145px;
    top: 550px;
    padding: 15px 15px;
    border: 2px solid rgb(252, 173, 62); 
    background-color: rgb(252, 173, 62); 
    color: #fafafa; 
    font-weight: bold;
}

.cover .button2:hover{
    background-color: rgb(218, 157, 73);
    color: rgb(218, 214, 214);
}

.cover .button3{
    position: absolute;
    left: 330px;
    top: 550px;
    padding: 15px 15px;
    border: 2px solid #A3004D;; 
    background-color: #A3004D;; 
    color: #fafafa; 
    font-weight: bold;
}

.cover .button3:hover{
    background-color: rgb(136, 2, 65);
    color: rgb(218, 214, 214);
}

.content h2{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.content .card {
    margin: 4%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
}

.content .card p {
    width: 1200px;
}


.content .card:hover {
    box-shadow: 0 8px 16px 0 rgb(173, 88, 128);
}

.content .card img {
    border-radius: 3px 3px 0 0;
    width: 100%;
}

.content .container {
    width: 100px;
}

footer{
    position: relative;
    background-color: #202020;
    color: white;
    width: 1168px;
    left: 68px;
    text-align: center;
    padding: 15px;
}
